@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.letter-container {
  display: flex;
}

.letter {
  background-color: #3498dc;
  color: white;
  margin: 20px 3px;
  padding: 6px 14px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}